<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/currency/style">
        <title>Lee Morgan</title>
    </head>
    <body>
        <h1>Currencies from around the world</h1>

        <div id="container">
            <template id="currency">
                <div class="currency">
                    <p class="location"></p>
                    <p class="year"></p>
                    <img class="fontImage">
                    <img class="backImage">
                    <p class="comment"></p>
                </div>
            </template>
        </div>

        <script>
            
        </script>
    </body>
</html>