<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="icon" type="img/ico" href="/images/favicon">
        <title>Resume | Lee Morgan</title>
        <style>
            body, html{
                height: 100%;
                width: 100%;
            }
            body{
                display: flex;
                justify-content: center;
            }
            iframe{
                width: 100%;
                max-width: 1250px;
            }
        </style>
    </head>
    <body>
        <iframe src="/resume/pdf">
    </body>
</html>
