<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lee Morgan</title>
        <link rel="stylesheet" href="/travel/style">
    </head>
    <body>
        <h1 id="title"></h1>

        <div id="images"></div>

        <script>
            let path = window.location.pathname
                .split("/")
                .slice(2)
                .join("/");

            fetch(`/travel/images/${path}`)
                .then(response => response.json())
                .then((response)=>{
                    let container = document.getElementById("images");

                    for(let i = 0; i < response.length; i++){
                        let img = document.createElement("img");
                        img.src = response[i];
                        img.alt = "A picture";
                        container.appendChild(img);
                    }
                })
                .catch(err => {});

            let newPath = path.split("/");
            console.log(newPath);
            let title = "";

            for(let i = newPath.length - 1; i >= 0; i--){
                title += `${newPath[i].replaceAll("-", " ")}, `;
            }

            document.getElementById("title").innerText = title.substring(0, title.length-2);
        </script>
    </body>
</html>