<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lee Morgan -lecture-</title>
        <link rel="stylesheet" href="/learn/style">
    </head>
    <body id="lectureBody">
        <h1 id="title"></h1>

        <h3 id="course"></h3>

        <h6 id="date"></h6>

        <iframe id="video"></iframe>

        <div id="lectureData">
            <h2 id="exerciseTitle">Exercises</h2>
            <ol id="exercises"></ol>

            <h2 id="readingTitle">Further Reading</h2>
            <ul id="readings"></ul>
            
            <h2 id="resourceTitle">Resources</h2>
            <div id="documents"></div>
        </div>

        <button id="questionButton">Ask a question</button>

        <form id="questionForm" style="display:none" method="post">
            <h1 id="questionHeader"></h1>

            <label>Your name
                <input id="questionName" type="text">
            </label>

            <label>Title
                <input id="questionTitle" type="text">
            </label>

            <label>Question
                <textarea id="questionContent" minlength="15" required></textarea>
            </label>

            <button id="questionAsk" type="button">Ask</button>

            <button id="questionCancel" type="button">Cancel</button>
        </form>
            
        <script>
            let video = document.getElementById("video");

            let sizeIframe = ()=>{
                let width = window.innerWidth;
                let height = window.innerHeight;
                video.width = width * 0.75;
                video.height = height * 0.75;
            }

            video.onload = sizeIframe();
            let id = window.location.href.split("/");
            id = id[id.length-1];

            fetch(`/learn/lectures/json/one/${id}`)
                .then(response => response.json())
                .then((response)=>{
                    let date = new Date(response.createdDate);

                    document.getElementById("title").innerText = response.title;
                    document.getElementById("course").innerText = response.course.title;
                    document.getElementById("date").innerText = date.toDateString();
                    video.src = response.video;

                    let documents = document.getElementById("documents");
                    if(response.documents.length === 0) document.getElementById("resourceTitle").style.display = "none";
                    for(let i = 0; i < response.documents.length; i++){
                        let a = document.createElement("a");
                        a.classList.add("liPad");
                        a.href = response.documents[i].link;
                        a.innerText = response.documents[i].name.replaceAll("_", " ");
                        documents.appendChild(a);
                    }
                    
                    let exercises = document.getElementById("exercises");
                    if(response.exercises.length === 0) document.getElementById("exerciseTitle").style.display = "none";
                    for(let i = 0; i < response.exercises.length; i++){
                        let li = document.createElement("li");
                        li.classList.add("liPad");
                        li.innerText = response.exercises[i];
                        exercises.appendChild(li);
                    }

                    let readings = document.getElementById("readings");
                    if(response.furtherReading.length === 0) document.getElementById("readingtitle").style.display = "none";
                    for(let i = 0; i < response.furtherReading.length; i++){
                        let li = document.createElement("li");
                        li.classList.add("liPad");
                        readings.appendChild(li);

                        let a = document.createElement("a");
                        a.href = response.furtherReading[i].link;
                        a.innerText = response.furtherReading[i].text;
                        li.appendChild(a);
                    }
                })
                .catch((err)=>{});

                //Questions
                let form = document.getElementById("questionForm");
                let formTitle = document.getElementById("questionHeader");
                let lecture = window.location.href.split("/");
                lecture = lecture[lecture.length-1];

                document.getElementById("questionCancel").onclick = ()=>{form.style.display = "none"};

                document.getElementById("questionButton").onclick = ()=>{
                    form.style.display = "flex";
                    form.route = "/learn/questions/create";
                    formTitle.innerText = "Ask a Question";
                };

                document.getElementById("questionAsk").onclick = ()=>{
                    event.preventDefault();
                    form.style.display = "none";

                    let data = {
                        lecture: lecture,
                        name: document.getElementById("questionName").value,
                        title: document.getElementById("questionTitle").value,
                        content: document.getElementById("questionContent").value
                    };
                    
                    fetch(form.route, {
                        method: "post",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then((response)=>{
                            if(typeof(response) !== "string"){
                                console.log(response);
                            }
                        })
                        .catch((err)=>{});
                }
        </script>
    </body>
</html>