<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lee Morgan</title>
        <link rel="stylesheet" href="/learn/style">
    </head>
    <body>
        <h1>Introduction to Web Programming</h1>

        <div class="cardContainer">
            <a class="card" href="/learn/web/001">
                <img src="/images/web" alt="World Wide Web">
                <div>
                    <h3>How the Web Works</h3>
                    <p>A brief description of what the web is and what happens when you visit a web page.</p>
                </div>
            </a>

            <a class="card" href="/learn/web/002">
                <img src="/images/web" alt="World Wide Web">
                <div>
                    <h3>Workplace Setup</h3>
                    <p>A few tools that are used for programming and some instructions to install and set them up.</p>
                </div>
            </a>
        </div>
    </body>
</html>