*{margin:0;padding:0;}

body{
    height: 100vh;
    width: 100%;
    display: flex;
}

.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    overflow-y: auto;
}

    .card{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background: white;
        width: 300px;
        height: 300px;
        cursor: pointer;
        margin: 10px;
        padding: 25px;
        text-decoration: none;
        color: black;
    }

        .card:hover{
            box-shadow: 0 0 3px black;
        }

        .card h2{
            text-align: center;
        }

        .card img{
            margin-top: 10px;
            width: 90%;
            max-height: 150px;
            max-width: 150px;
        }

        .card p{
            text-align: justify;
        }

        .card > *{
            margin: 10px 0;
        }

    .card.backCard{
        justify-content: center;
    }

.borderLine{
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px 0;
}

.center{
    text-align: center;
}

.boldy{
    font-weight: bold;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #152730;
    width: 100px;
    height: 100vh;
}

    #menu > button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        color: #5FECE0;
        cursor: pointer;
        background: none;
        border: none;
    }

    #menu .active{
        background: rgb(196, 198, 192);
        cursor: default;
        color: #152730;
    }

#main{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(196, 198, 192);
    height: 100vh;
    width: 100%;
}

#about{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

    #about h2{
        text-decoration: underline;
        margin-bottom: 15px;
    }

    .aboutCenter{
        max-width: 700px;
    }

        .aboutCenter h1{
            text-align: center;
        }

        .aboutCenter p{
            margin: 25px 35px;
            font-size: 18px;
        }

    .aboutRight{
        display: flex;
        margin-bottom: auto;
    }

    .meLink{
        display: flex;
        align-items: center;
        color: black;
        margin: 15px;
    }

        .meLink img{
            height: 24px;
            width: 24px;
        }

    #ageDiv > p, #deathDiv > p{
        margin-top: 5px;
    }

#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

    
    #galleryContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #map{
        height: 50%;
    }

    .galleryPopup{
        text-decoration: none;
        color: black;
    }

    .popupImage{
        max-width: 100%;
        max-height: 100%;
    }

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #152730;
    color: #5FECE0;
    font-size: 20px;
    min-width: 75px;
    border-radius: 20px;
    height: 30px;
    border: none;
    padding: 0 25px;
    margin: 10px;
    cursor: pointer;
}

    .tag:hover{
        box-shadow: 0 0 5px black;
    }

.tagContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    width: 80vw;
}

#currency{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

    #currencyContainer{
        display: flex;
        flex-direction: column;
    }

    .currencyImages{
        display: flex;
    }

    .frontImage{
        margin-right: 35px;
    }

    #currency img{
        cursor: pointer;
    }

    .currency{
        margin: 25px 10px;
    }

    .curComment{
        padding-left: 25px;
    }

    #locations{
        display: flex;
        margin: 15px;
        flex-wrap: wrap;
    }

    .locationBtn{
        margin: 10px;
        padding: 5px;
        background: none;
        border: 1px solid black;
        cursor: pointer;
    }

    .curSelected{
        background: #152730;
        color: #5FECE0;
    }

    .fullImageBackground{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 100;
    }

    .paper{
        width: 100%;
    }

    .coin{
        width: 100%;
    }