<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Time Tracker | leemorgan.io</title>
        <style>
            *{margin:0;padding:0;}
            body{
                display: flex;
                flex-direction: column;
                max-width: 500px;
            }
            body > *{margin: 15px;}
        </style>
    </head>
    <body>
        <input id="name" type="text" placeholder="NAME">

        <input id="project" type="text" placeholder="PROJECT">

        <textarea id="description" placeholder="DESCRIPTION"></textarea>

        <button id="startStop" onclick="startStop()">Start</button>

        <button id="pause" style="display:none">Pause</button>

        <script>
            let tracker = null

            let startStop = ()=>{
                if(!tracker){
                    let time = new Date();

                    fetch("/tracker", {
                        method: "post",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            name: document.getElementById("name").value,
                            project: document.getElementById("project").value,
                            description: document.getElementById("description").value,
                            start: time
                        })
                    })
                        .then(r=>r.json())
                        .then((response)=>{
                            if(typeof(response) === "string"){
                            }else{
                                tracker = response;
                                document.getElementById("startStop").innerText = "Stop";
                                document.getElementById("pause").style.display = "block";
                            }
                        }).catch((err)=>{});
                }
            }
        </script>
    </body>
</html>